body {
  font-size: 14px;
  text-align: center;
}

.row {
  width: 100%
}

.img-bg {
  background-color: orange;
}

.img-bg img {
  background-color: blue;
  border-radius: 50%;
}

h1,h2,h3 {
  line-height: 2em;
}

@media all and (max-width: 767px) {
  body {
    font-size: 0.8em;
  }
  img {
    height: 100px;
    margin-top: 10px;
  }
  hr {
    margin-bottom: 25px;
  }
}

@media all and (min-width: 768px) and (max-width: 991px) {
  body {
    font-size: 1em;
  }
  img {
    height: 150px;
    margin-top: 15px;
  }
  hr {
    margin-bottom: 30px;
  }
}

@media all and (min-width: 992px) {
  body {
    font-size: 1.2em;
  }
  img {
    height: 200px;
    margin-top: 20px;
  }
  hr {
    margin-bottom: 35px;
  }
}
